$primereact-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$primereact-text-color: #495057;
$primereact-text-color-secondary: #6c757d;
$primereact-white: #ffffff;
$primereact-color-theme: #F00;
$primereact-color-theme-2: #c40f03;
$primereact-color-theme-3: #990a00;
$primereact-gray-50: #eef1f2;
$primereact-gray-100: #dde2e4;
$primereact-gray-200: #bbc5ca;
$primereact-gray-300: #98a8af;
$primereact-gray-400: #768b95;
$primereact-gray-500: #546e7a;
$primereact-gray-600: #435862;
$primereact-gray-700: #324249;
$primereact-gray-800: #222c31;
$primereact-gray-900: #111618;
$primereact-content-padding:0.571rem 1rem;
$primereact-inline-spacing:0.5rem;
$primereact-border-radius:2px;
$primereact-surface-ground:#f4f4f4;
$primereact-surface-border:#dadada;
$primereact-surface-hover: #eaeaea;
$primereact-error: #e7a3a3;




